# environment variables
*.env

# batch scripts
*.bat
*.cmd

# bash scripts
*.sh

# git stuff
.git

# vscode configs
.vscode

# vscode extensions
.VSCodeCounter

# project export file
/lua-additions.rbxlx

# roblox studio lock files
/*.rbxlx.lock
/*.rbxl.lock
